<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body class="text-center">
<main class="form-signin mt-5">
    <div class="container" style="width:50%; max-width:400px">
        <h4 style="color: #C52E32">
            Авторизация
        </h4>
        <form method="post">
            {{form.non_field_errors}}
            {% csrf_token %} {% for f in form %} {{ f }}
            {{ f.errors }}
            {% endfor %}
            <br>
            <div class="row">
                {% if title == 'Авторизация' %}
                <div class="col">
                    <button class="btn" type="submit" style="color: #C52E32;    border-color: #C52E32;">
                        Войти
                    </button>
                </div>
                <div class="col">
                    <a class="btn" style="color: #C52E32;    border-color: #C52E32;" href="/register">
                        Регистрация
                    </a>
                </div>
                {% else %}
                <div class="col">
                    <button class="btn" type="submit" style="color: #C52E32;    border-color: #C52E32;">
                        Зарегистрироваться
                    </button>
                </div>
                <div class="col">
                    <a class="btn" style="color: #C52E32;    border-color: #C52E32;" href="/login">
                        Авторизация
                    </a>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
</main>
</body>
</html>