{% extends './template.html' %}

{% load static %}
{% block content %}
<div style="height:100%;">
        <h1>
            Данные о пользователе
        </h1>
        <h4>
            Номер рейса
        </h4>
        <div>
            <h2 style="
                background-color: #767575;
                color: #FFFFFF;
                ">
                {{ reys }}
            </h2>
        </div>
        <h4>
            Номер вагона
        </h4>
        <div>
            <h2 style="
                background-color: #767575;
                color: #FFFFFF;
                ">
                {{ wagoon }}
            </h2>
        </div>

</div>
{% endblock %}