{% extends './template.html' %}

{% load static %}
{% block content %}
<div style="height:100%;">
    <h1>
        Данные о рейсе
    </h1>
    <h2>
        Рейс:
        <ul>
                <li>
                    <p class="text-decoration-underline">{{ route }}</p>
                </li>
        </ul>
    </h2>
    <h2>
        Табельный номер:
        <ul>
                <li>
                    <p class="text-decoration-underline">{{ tabel }}</p>
            </li>
        </ul>
    </h2>
    <h2>

        Текущая станция:
    </h2>
    <div>
        <h2>
            <ul>
                <li>
                    <u>
                        <a href="{% url 'routes' %}" style="color:#212529;">
                {% if current_station.station %} {{ current_station.station }} {% else %} В пути к станции {{ next_station.station }} {% endif %}
                        </a>
                    </u>
                </li>
            </ul>
        </h2>
    </div>

</div>
{% endblock %}