{% extends './template.html' %}

{% load static %}
{% block content %}
    <div class="p-1">

        {% if routes %}
            {% for el in routes %}

                <div class="row">
                    <div class="col-1 d-flex align-content-center" style="
                        flex-wrap: wrap;
                        justify-content: center;
                    ">

                        {% if el.id == next_station.id %}
                            <div class="btn btn-danger btn-circle d-flex align-items-center justify-content-center"
                                 style="
                            width:40px;
                            height: 40px;
                            border-radius: 70px;
                            background-color: #bb2d3b;">
                                <a class="btn btn-circle" style="
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 20px;
                                    background-color:#000000;">
                                </a>
                            </div>
                        {% else %}
                            <a class="btn btn-danger btn-circle" style="
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 20px;
                                    background-color: #bb2d3b;
                                    ">
                            </a>
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if el.id == next_station.id %}
                            <h2>
                                {% if el.on_station %} Следующая: {% endif %} В пути к: Станция {{ el.station }}
                            </h2>
                        {% else %}
                            <h4>
                                {% if el.id == current_station.id %}Текущая Станция: {% else %}
                                    Станция {% endif %}{{ el.station }}
                            </h4>
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="col-1 d-flex" style="
                flex-wrap: wrap;
                justify-content: center;
            ">
                        <div class="{% if forloop.counter != routes_len %} vr {% else %} {% endif %}"
                             style="color:#C52E32;opacity:1;width: 5px;height: 100%;"></div>
                    </div>
                    <div class="col">
                        {% if el.id == next_station.id %}
                            <h2>
                               <p class="my-0 fs-4">Дата прибытия: {{ el.start_date }}</p>
                                <p class="my-0 fs-4"> Дата отправления: {{ el.end_date }}</p>
                                <p class="my-0 fs-4"> Время стоянки: {{ el.minus }}</p>
                            </h2>
                            </h2>
                        {% else %}
                            <p>
                                {{ el.start_date }}
                            </p>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <p class="alert alert-warning">Упс! Ничего нет.</p>
        {% endif %}
    </div>
{% endblock %}