{% extends './template.html' %}

{% load static %}

{% block content %}
    <div class="container p-2 mt-5">
        <div class="form-check form-switch">
            <div class="row text-center">

                <div class="d-flex mx-5">
                    <button class="btn-toggle" style="background-color: #ffffff;  line-height: 2; border-color: #C52E32;">
                        <img src="{% static 'icons/eye.svg' %}" width="32" height="32" style="cursor:pointer;">
                        <label class="form-check-label" for="specialButton1" style="font-size:14pt;">Темная тема</label>
                    </button>
                </div>
            </div>
        </div>
        <a class="btn fixed-bottom mb-5" href="{% url 'logout' %}">
            <img src="{% static 'icons/door-open.svg' %}">
        </a>
    </div>
{% endblock %}