<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</head>
<body {% if request.session.theme == 'dark' %} class="negative" {% endif %}>

<nav class="w-100" style="background: #C7C5C5;">
    <div class="container-lg d-flex h-100 align-items-center text-center">
        <div class="ms-2 " style="">
            <button class="navbar-toggler ml-2" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample"
                    role="button" aria-controls="offcanvasExample"
                    style="color: #C52E32;    border-color: #C52E32;    line-height: 2;">
                <img src="{% static 'icons/list.svg' %}" width="32" height="32">
            </button>
        </div>
        <div class="w-100 " style="">
            <p class="fw-bold fs-3 mt-2" style="color: #C52E32;">
                {{ title }}
            </p>
        </div>
        <div class="me-2" style="">
            <img src="{% static 'icons/logo.svg' %}" width="64" height="64">
        </div>
    </div>
</nav>
{% if sos %}
    <div>
        <div class="alert alert-danger fade show text-center" role="alert">
            <strong>Внимание!</strong> Нажата кнопка SOS в вагоне {{ sos_wagon }}.
        </div>
    </div>
{% endif %}
<div class="container-lg overflow-hidden">
    {% block content %}{% endblock %}
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
     style="max-width: 50%">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel" style="color: #C52E32;">Меню</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body flex-grow-0 d-flex">
        <div class="row align-items-flex-end align-items-center justify-content-center">
            <a href="{% url 'profile' %}" class="btn" style="height: 100px">
                <p class="fs-5 fw-bold" style="color: #C52E32;">
                    Текущий рейс
                </p>
            </a>
            <a href="{% url 'chat' %}" class="btn" style="height: 100px">
                <p class="fs-5 fw-bold" style="color: #C52E32;">
                    Чат
                </p>
            </a>
            <a href="{% url 'routes' %}" class="btn" style="height: 100px">
                <p class="fs-5 fw-bold" style="color: #C52E32;">
                    Маршрут
                </p>
            </a>
            <a href="{% url 'settings' %}" class="btn" style="height: 100px">
                <p class="fs-5 fw-bold" style="color: #C52E32;">
                    Настройки
                </p>
            </a>
            <a id="sos_btn" class="btn btn-danger btn-circle d-flex justify-content-center align-items-center"
               style="width: 80px;
                       height: 80px;
                       border-radius: 40px;
                       text-align: center;
                       font-size: 20px;
                       {% if sos %} background-color: #C52E32; {% else %} background-color:#C7C5C5; {% endif %}">
                <p class="mt-2">
                    SOS
                </p>
            </a>

            <script>
                // Выбираем кнопку
                const btn_sos = document.getElementById('sos_btn');
                const btn_eye = document.querySelector('.btn-toggle');
                // Отслеживаем щелчок по кнопке
                btn_sos.addEventListener('click', function () {

                    const csrftoken = getCookie('csrftoken');
                    fetch('/sos_activate', {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        }
                    });

                    location.reload();
                });

                btn_eye.addEventListener('click', function () {
                    // Затем переключаем (добавляем/удаляем) класс .dark-theme для body
                    document.body.classList.toggle('negative');

                    const csrftoken = getCookie('csrftoken');
                    fetch('/update_theme', {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        }
                    });
                })


            </script>
        </div>
    </div>
</div>
</body>
</html>